<div>
  <ul class="tableLinks">
    <li><a href="/">Home</a></li>
    <li><a href="movie">Movies</a></li>
    <li><a href="genre">Genres</a></li>
    <li><a href="director">Directors</a></li>
    <li><a href="productionCo">Production Companies</a></li>
    <li><a href="movieGenre">Movies by Genre</a></li>
    <li><a href="movieDirector">Movies by Director</a></li>
    <li><a href="movieProductionCo">Movie/Production Company</a></li>
    <li><a href="movieSequel">Movies with Sequels</a></li>
  </ul>
</div>
<br>
<br>

<table id="table">
    <caption>Directors</caption>
    <tr>
        <th>Name</th>
        <th>Birthdate*</th>
    </tr>

    {{#each table}}
    <tr> 
        <td>{{this.f_name}} {{this.l_name}}</td>
        <td>{{this.year}}-{{this.month}}-{{this.day}}</td>
    </tr>
    {{/each}}
</table>

<br><br>

<form action="/addDirector" method="post">
    <fieldset>
        <legend>Add Director</legend>
        First Name:<input type="text" name="f_name" id="f_name"><br>
        Last Name:<input type="text" name="l_name" id="l_name"><br>
        Birthdate(YYYY-MM-DD):<input type="text" name="birthdate" id="birthdate"><br>
        Movie they have directed:<select name="movie_id">
            {{#each rowName}}
            <option name="movie_id" value="{{this.movie_id}}">{{this.title}}</option>
            {{/each}}
        </select>
        <br>
        <input type="submit" value="Submit">
    </fieldset>
</form>

<br><br>

<p> *Birthdate displayed in YYYY-MM-DD format </p>