<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="movie">Movies</a></li>
    <li><a href="genre">Genre</a></li>
    <li><a href="director">Director</a></li>
    <li><a href="productionCo">Production Company</a></li>
    <li><a href="movieGenre">Movie/Genre</a></li>
    <li><a href="movieDirector">Movie/Director</a></li>
    <li><a href="movieProductionCo">Movie/Production Company</a></li>
    <li><a href="movieSequel">Movie Sequels</a></li>
  </ul>
</div>

<br>
<br>

<table id="table">
    <tr>
        <th>Movie</th>
        <th>Sequel Movie</th>
    </tr>

    {{#each table}}
    <tr> 
        <td>{{this.movie_id}}</td>
        <td>{{this.sequel_id}}</td>
    </tr>
    {{/each}}
</table>

<br><br>

<form action="/addSequel" method="post">
    <fieldset>
        <legend>Add Sequel</legend>
        Original:<select name="movie_id">
            {{#each rowName}}
            <option name="movie_id" value="{{this.movie_id}}">{{this.title}}</option>
            {{/each}}
        </select>
        
        Sequel:<select name="sequel_id">
            {{#each rowName}}
            <option name="movie_id" value="{{this.movie_id}}">{{this.title}}</option>
            {{/each}}
        </select>
        
        <input type="submit" value="Submit">
    </fieldset>
</form>