<div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="movie">Movies</a></li>
    <li><a href="genre">Genre</a></li>
    <li><a href="director">Director</a></li>
    <li><a href="productionCo">Production Company</a></li>
    <li><a href="movieGenre">Movie/Genre</a></li>
    <li><a href="movieDirector">Movie/Director</a></li>
    <li><a href="movieProductionCo">Movie/Production Company</a></li>
    <li><a href="movieSequel">Movie Sequels</a></li>
  </ul>
</div>

<br>
<br>

<table id="table">
    <tr>
        <th>Movie Name</th>
        <th>Production Company</th>
    </tr>

    {{#each table}}
    <tr> 
        <td>{{this.movie_id}}</td>
        <td>{{this.production_co_id}}</td>
    </tr>
    {{/each}}
</table>

<br><br>

<form action="/addMovieProductionCo" method="post">
    <fieldset>
        <legend>Add a movie that a production company has produced.</legend>
        Movie:<select name="movie_id">
            {{#each rowName}}
            <option name="movie_id" value="{{this.movie_id}}">{{this.title}}</option>
            {{/each}}
        </select>
        
        Produced by:<select name="production_co_id">
            {{#each row2Name}}
            <option name="production_co_id" value="{{this.production_co_id}}">{{this.name}}</option>
            {{/each}}
        </select>
        
        <input type="submit" value="Submit">
    </fieldset>
</form>